@import "variables";

@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: $default-background;
  color: #FFFFFF;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
span {
  font-size: 1.2em;
}
p {
  font-size: 1.2em;
}

.hidden {
  visibility: hidden !important;
}

.center {
  text-align: center;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

@import "grid";
@import "navbar";
@import "section";
@import "animations";
@import "social";
@import "input";
@import "sections/home";
@import "sections/about";
@import "sections/contact";
@import "sections/speakers";
@import "sections/team";
@import "styles/flipdown";
