#speakers {
  .backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .backdrop img {
    margin-top: 200px;
    margin-left: 50%;
    opacity: 0.02;
    width: 526px;
  }
}

@media screen and (max-width: 480px) {
  #speakers {
    .backdrop {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
    }
    .backdrop img {
      margin-top: 250px;
      margin-left: 30%;
    }
  }
}
